img {
  width: 98%;
  height: 300px;
  margin: auto;
  border: 1px solid #dedede;
}

@media (max-width: 768px) {
  .regression-content h3 {
    font-size: 1.5rem;
  }
}

.regression-content h3 {
  margin: 10px 0;
  margin-left: 0;
}

.regression-content * {
  font-family: 'Roboto', sans-serif;
  color: #081246;
}

.regression-content {
  padding: 15px;
  width: 100%;
  border-radius: 10px;
}

p {
  width: 100%;
  line-height: inherit;
}

@media (max-width: 576px) {
  ul, ol {
    padding-left: 15px;
  }
}

.regression-content li {
  list-style: inherit;
  margin: 5px 0;
}

.regression-content h1, .regression-content h3, .regression-content h2 {
  color: #800080;
}

ul {
  padding-left: 25px;
}

.ipynb-link {
  color: #000;
}

.ipynb-link a {
  margin-left: 5px;
  color: blue;
  text-decoration: underline;
}

@media (max-width: 768px) {
  #introduction-to-machine-learning {
    font-size: 1.8rem;
    text-align: center;
  }
}

.types-regression {
  padding-left: 25px;
}

